h1, h2{
    color: white;
    font-size: 24px;
    
}
.form{
    width: 70vw;
    text-align: center;
    background-color: white;
    height: 70vh;
}
.form button{
    position: relative;
    top: 70px;
    right: 600px;
    width: 170px;
    background-color: blueviolet;
}
.form button a{
    text-decoration: none;
    color: white
}
.form .text-area{
    width: 50vw;
    margin-left: 50px;
    height: 30vh;
    
    
}
@media(max-width: 725px){
    h1, h2{
        font-size: 18px;
        
    }
    .mobile-form{
        height: 60vh;
        padding-top: 20px;
        padding-right: 20px;
        width: 80vw;
    }
    .text-area{
        width: 210px;
        margin-left: 9px;
        margin-top: 25px;
    }
    button{
        position: relative;
        bottom: 100px;
        
        background-color: blueviolet;
    }
    button a{
        text-decoration: none;
        color: black
    }
    body{
        background-color: white;
    }
    
}
